.redDot{
  float: right;
  font-size: 40px;
  line-height: 21px;
  font-weight: 100;
  color: var(--ion-color-danger)
}
.subtitle{
  height: 11px !important;
  line-height: 10px !important;
  color: var(--ion-color-primary-tint) !important;
}
