.ios{
  .sc-ion-searchbar-ios-h{
    -webkit-padding-start: 12px;
    padding-inline-start: 12px;
    -webkit-padding-end: 12px;
    padding-inline-end: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
